.container {
    color: var(--colors-grey900);
    block-size: 100%;
    overflow: auto;
    max-inline-size: 100%;
}

.contentWrapper {
    block-size: 100%;
    margin-inline: var(--spacers-dp32);
    margin-block-start: var(--spacers-dp32);
}
